/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand-Regular'), local('Quicksand-Regular'), url(./fonts/Quicksand-Regular.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
body 
{
	font-family: 'Quicksand', serif;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: middle center;
	background-image: url('../images/bg2.jpg');
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font: 15px 'Segoe UI',Arial,sans-serif;
  background-color: #f5f5f5;
  height: auto;
  padding: 10px;
  color: #102a2c;
  outline:none;
  -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
		  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#recover input[type="email"] {
  margin-bottom: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/*___________________________________*/
.container {
  border-top: 2px solid #aaa;
  border-radius: 3px;
  box-shadow:  0 1px 10px rgba(0,0,0,0.5);
  width:325px;
  min-height:350px;
  margin:0 auto;
  position:relative;
  z-index:1;
  -moz-perspective: 800px;
  -webkit-perspective: 800px;
  perspective: 800px;
}
.container form {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
  border-radius: 3px;
}
.container.flipped .form-signin{
  opacity:0;
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}
.container.flipped #recover{
  opacity:1;
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}
.form-signin {
  z-index:100;
  /* Enabling 3d space for the transforms */
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /* When the forms are flipped, they will be hidden */
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Enabling a smooth animated transition */
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
  transition:0.8s;
}
#login{
  background: #f9f9f9;
  z-index: 100;
}
#recover:before {
  /* The "Click here" tooltip */
  width:100px;
  height:26px;
  content:'Sign in ->';
  position:absolute;
  right:270px;
  top:15px;
}
#login:after {
  /* The "Click here" tooltip */
  width:150px;
  height:26px;
/*  content:'<- Lupa Sandi?'; */
  position:absolute;
  right:-170px;
  top:15px;
}
#recover{
  background:#f3f3f3;
  z-index:1;
  /* Rotating the recover password form by default */
  -moz-transform:rotateY(180deg);
  -webkit-transform:rotateY(180deg);
  transform:rotateY(180deg);
}
#formContainer.flipped #login{
  opacity:0;
  /**
   * Rotating the login form when the
   * flipped class is added to the container
   */
  -moz-transform:rotateY(-180deg);
  -webkit-transform:rotateY(-180deg);
  transform:rotateY(-180deg);
}
#formContainer.flipped #recover{
  opacity:1;
  /* Rotating the recover div into view */
  -moz-transform:rotateY(0deg);
  -webkit-transform:rotateY(0deg);
  transform:rotateY(0deg);
}
/*----------------------------
  Inputs, Buttons & Links
-----------------------------*/
#login .flipLink,
#recover .flipLink{
  height: 50px;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-indent: -9999px;
  top: 0;
  width: 50px;
}
#triangle-topright {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0;
  height: 0;
  border-top: 100px solid #ddd;
  border-left: 100px solid transparent;
}
#triangle-topleft {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  right:auto;
  left:0;
  width: 0;
  height: 0;
  border-top: 50px solid #ddd;
  border-right: 50px solid transparent;
}
#recover .flipLink{
  right:auto;
  left:0;
}
#forkongithub a {
  box-sizing: content-box;
  background:#ddd;
  color:#fff;
  text-decoration:none;
  font-family:arial, sans-serif;
  text-align:center;
  font-weight:bold;
  padding:5px 40px;
  font-size:1rem;
  line-height:2rem;
  position:relative;
  transition:0.5s;
}
#forkongithub a:hover {
  background:#aaa;
  color:#fff;
}
#forkongithub a::before, #forkongithub a::after {
  content:"";
  width:100%;
  display:block;
  position:absolute;
  top:1px;
  left:0;
  height:1px;
  background:#fff;
}
#forkongithub a::after {
  bottom:1px;
  top:auto;
}
@media screen and (min-width:800px){
  #forkongithub {
	position:absolute;
	display:block;
	top:0;
	right:0;
	width:200px;
	overflow:hidden;
	height:200px;
  }
  #forkongithub a {
	width:200px;
	position:absolute;
	top:60px;
	right:-60px;
	transform:rotate(45deg);
	  -webkit-transform:rotate(45deg);
	box-shadow:2px 2px 10px rgba(0,0,0,0.8);
  }
}